<div class="navi-setting">
<div class="ui vertical labeled icon menu">
  <a href="/table" class="item"><i class="add to calendar icon"></i> 工资 </a>
  <a href="/table_yx" class="item"><i class="calendar icon"></i> 营销 </a>
  <a href="/signout" class="item"><i class="video play icon"></i> 测试 </a>
</div>
</div>