<%- include('table_header') %>



<div class="div1" id="div_1">
    <div class="ui button fluid">上传营销excle</div>
    <input type="file" class="ui button fluid" id = "btn_1" onchange = "importExcel(this)" >
</div>

<div id = "demo"></div>
<div id = 'jsGrid'> </div>

<input class="ui button fluid" id = "btn" onclick="get_id()" style="visibility:hidden;" type="button" value="点击发送通知">

<script>
    var clients = [

    ];
function charts(){
	$("#notify").css("display", "none");// 隐藏div
	
	var grid = new jsGrid.Grid($("#jsGrid"), {
    //$("#jsGrid").jsGrid({
        width: "100%",
        height: "78%",

        inserting: true,
        editing: true,
        sorting: true,
        paging: true,
		pageSize: 300,
		Controller : {
			insertItem: function(item) {
				return clients;
			}
		},
		
		
        data: clients,

        fields: [
            { name: "员工UserID", type: "text", width: 150, validate: "required" },
            { name: "部门", type: "text", width: 80 },
			{ name: "姓名", type: "text", width: 60 },
            { name: "账户余额", type: "text", width: 80 },
            { name: "全年任务", type: "text", width:80 },
			{ name: "基础任务", type: "text", width: 80 },
			{ name: "提取比例", type: "text", width: 60 },
			{ name: "技术服务费标准", type: "text", width: 80 },
			{ name: "汇款比例", type: "text", width: 40 },
			{ name: "收入", type: "text", width: 80 },
			{ name: "合同收入", type: "text", width: 80 },
			{ name: "退税收入", type: "text", width: 80 },
			{ name: "其他收入", type: "text", width: 80 },
			{ name: "支出", type: "text", width: 80 },
			{ name: "成本支出", type: "text", width: 80 },
			{ name: "费用支出", type: "text", width: 80 },
			{ name: "其他支出", type: "text", width: 80 },
			{ name: "毛利", type: "text", width: 80 },
			{ name: "已支薪资", type: "text", width: 80 },
            { type: "control" }
        ]
    });
}
    /*
    FileReader共有4种读取方法：
    1.readAsArrayBuffer(file)：将文件读取为ArrayBuffer。
    2.readAsBinaryString(file)：将文件读取为二进制字符串
    3.readAsDataURL(file)：将文件读取为Data URL
    4.readAsText(file, [encoding])：将文件读取为文本，encoding缺省值为'UTF-8'
                 */
    var wb;//读取完成的数据
    var rABS = false; //是否将文件读取为二进制字符串

    function importExcel(obj) {//导入

		document.getElementById("div_1").style.display="none";//隐藏
        

		if(!obj.files) {
            return;
        }
        const IMPORTFILE_MAXSIZE = 1*1024;//这里可以自定义控制导入文件大小
        var suffix = obj.files[0].name.split(".")[1]
        if(suffix != 'xls' && suffix !='xlsx'){
            alert('导入的文件格式不正确!')
            return
        }
        if(obj.files[0].size/1024 > IMPORTFILE_MAXSIZE){
            alert('导入的表格文件不能大于1M')
            return
        }
        var f = obj.files[0];
        var reader = new FileReader();
        reader.onload = function(e) {
            var data = e.target.result;
            if(rABS) {
                wb = XLSX.read(btoa(fixdata(data)), {//手动转化
                    type: 'base64'
                });
            } else {
                wb = XLSX.read(data, {
                    type: 'binary'
                });
            }
            //wb.SheetNames[0]是获取Sheets中第一个Sheet的名字
            //wb.Sheets[Sheet名]获取第一个Sheet的数据
            clients =  XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]]) ;
			console.log(clients);
			charts();
        };
        if(rABS) {
            reader.readAsArrayBuffer(f);
        } else {
            reader.readAsBinaryString(f);
        }
		document.getElementById("btn").style.visibility="visible";//显示
    }

    function fixdata(data) { //文件流转BinaryString
        var o = "",
            l = 0,
            w = 10240;
        for(; l < data.byteLength / w; ++l) o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w, l * w + w)));
        o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w)));
        return o;
    }	
	
	
function get_id() {
	var btn = document.getElementById("btn"); // get the btn
	
	btn.value = "处理中。。。";
	btn.disabled="disabled";
	//get更新access_token，用来进行下一步的操作
	$.get("/api/auth/getAccessToken",function(data,status){
      //post调用后台接口
	  $.ajax({
		type: 'POST',
		url: "./post_notify_yx",
		data: {
		"data":clients
		},
		dataType:'json',
	   });
    });

	btn.value = "处理完成";
	btn.disabled= true;
}

</script>


<%- include('footer') %>
